{% extends 'account/base.html' %}

{% load account %}

{% block head_title %}Sign In{% endblock %}

{% block account_content %}

<h1>Sign In</h1>

<p>If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="Button" type="submit">Sign In</button>
  <a class="Button Button--text" href="{% url 'account_reset_password' %}">Forgot Password?</a>
</form>

{% endblock account_content %}
