@import "normalize-opentype.css/normalize-opentype.css";
@import "suitcss";
@import "components/theme";
@import "components/theme-map";
@import "components/buttons";
@import "components/messages";
@import "components/header";
@import "components/footer";
@import "components/errorlist";

html {
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--color-black);
}

h1, h2, h3 {
    margin-bottom: 1em;
}

form {
    padding-top: 1.5em;
    margin-bottom: 1em;
}

input {
    margin-bottom: 1em;
}

.Container {
    max-width: 45em;
    margin: 0 auto;
}
