{% load account %}

{% user_display user as user_display %}

<header class="Header" role="banner">
    <div class="u-flex">
        <a href="/">Cityguide</a>
        <nav class="u-flexExpandLeft">
            {% if user.is_authenticated %}
            <span>Welcome, {{ user_display }}</span>
            {% if user.is_staff %}<a href="{% url 'admin:index' %}">Admin</a>{% endif %}
            <a href="{% url 'account_logout' %}">Sign Out</a>
            {% else %}
            <a class="Button" href="{% url 'account_signup' %}">Sign up</a>
            <a class="Button Button--text" href="{% url 'account_login' %}">Sign in</a>
            {% endif %}
        </nav>
    </div>
</header>
